<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JobTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JobTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <add name="EFDbContext" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.19;initial catalog=TestVariousInfo_WithData;persist security info=True;user id=sa;password=download;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="JobTracker.Properties.Settings.MastreTable" connectionString="&quot;&quot;" />
    <add name="JobTracker.Properties.Settings.Setting" connectionString="&quot;&quot;" />
  </connectionStrings>
    <!--<JobTracker.My.Settings>
      <setting name="BtnBackColor" serializeAs="String">
        <value>GradientInactiveCaption</value>
      </setting>
      <setting name="BtnFont" serializeAs="String">
        <value>Calibri, 9.5pt</value>
      </setting>
      <setting name="BtnFlateStyle" serializeAs="String">
        <value>Flat</value>
      </setting>
      <setting name="timeSheetLoginUserID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="timeSheetLoginName" serializeAs="String">
        <value />
      </setting>
      <setting name="timeSheetLoginUserType" serializeAs="String">
        <value />
      </setting>
      <setting name="IsLocalDataBase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PretimeSheetLoginUserID" serializeAs="String">
        <value>Null</value>
      </setting>
      <setting name="PretimeSheetLoginName" serializeAs="String">
        <value>Null</value>
      </setting>
      <setting name="PretimeSheetLoginUserType" serializeAs="String">
        <value>Null</value>
      </setting>
      <setting name="LocalDataBaseConnString" serializeAs="String">
        <value />
      </setting>
    </JobTracker.My.Settings>-->
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <JobTracker.Properties.Settings>
      <setting name="BtnFont" serializeAs="String">
        <value>Calibri, 9.5pt</value>
      </setting>
      <setting name="BtnFlateStyle" serializeAs="String">
        <value>Flat</value>
      </setting>
      <setting name="timeSheetLoginUserID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="timeSheetLoginName" serializeAs="String">
        <value />
      </setting>
      <setting name="timeSheetLoginUserType" serializeAs="String">
        <value />
      </setting>
      <setting name="IsLocalDataBase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PretimeSheetLoginUserID" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="PretimeSheetLoginName" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="PretimeSheetLoginUserType" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="LocalDataBaseConnString" serializeAs="String">
        <value />
      </setting>
      <setting name="IsTestDatabase" serializeAs="String">
        <value>False</value>
      </setting>
    </JobTracker.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <JobTracker.Properties.Settings>
      <setting name="GridBackColor" serializeAs="String">
        <value>GradientActiveCaption</value>
      </setting>
      <setting name="BtnBackColor" serializeAs="String">
        <value>GradientInactiveCaption</value>
      </setting>
    </JobTracker.Properties.Settings>
  </applicationSettings>
</configuration>
